<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite" parallel="tests" thread-count="2">
    <test name="TestGroup1" parallel="classes">
        <classes>
            <class name="org.example.tests.TestAddCustomerPage"/>
            <class name="org.example.tests.TestCustomersPage"/>
        </classes>
    </test>
</suite>
