<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="MyTestSuite" parallel="tests" thread-count="2">
    <parameter name="webUrl"
               value="https://www.globalsqa.com/angularJs-protractor/BankingProject/#/manager"/>
    <test name="UI" parallel="classes">
        <classes>
            <class name="org.example.uiTesting.tests.AddCustomerTest"/>
            <class name="org.example.uiTesting.tests.CustomersTest"/>
        </classes>
    </test>
    <parameter name="apiUrl"
               value="http://localhost"/>
    <test name="API" parallel="classes">
        <classes>
            <class name="org.example.apiTesting.tests.EntityTest"/>
        </classes>
    </test>
</suite>

